Body{
    background-color: black;
}
header img{
    height: 190px;
    width: 240px;
}
header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    align-items: center;
    border-radius: 5px;
}
nav{
    display: flex;
    gap:70px;
    margin-right: 50px;
}
nav a{
        text-decoration: none;
        color:#D9A62E;
}
.banner{
    background-image: url(Imagens/banner.png);
    height: 600px;

}
.banner h1{
    margin-top: 0px;
    margin-left: 150px;
    color: white;
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    padding-top: 130px;
    margin-bottom: 30px;
}
.banner b{
    color:#D9A62E;
}
.banner h3{
    font-family: "Montserrat";
    margin-left: 150px;
    color:white;
    letter-spacing: 2px;
    margin-top: 5px;
    margin-bottom: 8px;
}
.banner button{
    margin-left: 150px;
    margin-top: 30px;
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    background-color: #D9A62E;
    color: white;
    cursor: pointer;
}
.banner button:hover{
    box-shadow: 2px 2px 10px #FCF6E7;
    transform: translateY(2px);
}
.banner button:active{
    transform:scale(0.95);
}
.card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color:white;
    margin-left: 100px;
    margin-right: 100px;
    
}
.card h1{
    width: 100%;
    text-align: center;
    margin-top: 80px;
    color:#D9A62E;
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
}
.filme{
    height: 500px;
    width: 450px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px  #D9A62E;
    text-align: center;
    margin-top: 30px;
}
.filme:hover{
    box-shadow: 3px 3px 10px #F4C65D;
    transform: translateY(-10px);
}
.filme:active{
    transform:scale(0.95);
}
.filme img{
    height: 300px;
    width: 400px;
    margin-top: 10px;
}
.filme h2{
    font-size: 30px;
    text-align: CENTER;
    font-family: "Bebas Neue", sans-serif;
}
.genero{
    font-size: 22px;
    text-align: center;
}
.classificacao, .classificacao1, .classificacao2{
    font-size: 22px;
    text-align: center;
    width: 50px;
    height: 25px;
    justify-self: center;
    border-radius: 5px;
}
.classificacao{
    color:white;
    background-color: #D9A62E;
}
.classificacao1{
    background-color:red;
    color:white;
}
.classificacao2{
    background-color:green;
    color:white;
}
footer img{
    height: 150px;
    width: 140px;
    
}
footer{
    margin: 70px 200px 0px 200px;
    font-size: 30px;
    color:#D6D6D6;    
}
.rodape{
    display: flex;
    font-size: 17px;
    justify-content: space-between;
}
.verificacao h1{
    width: 100%;
    text-align: center;
    margin-top: 80px;
    color:#D9A62E;
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    margin-bottom: 20px;
}
.verificacao p{
    text-align: center;
    font-size: 22px;
    color:#D6D6D6; 
    margin-top: 10px;
}
.idade{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    height: 100px;
    width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 10px #D9A62E;
    color:white;
    padding: 25px;
}
.idade label{
    font-size: 20px;
    margin-left: 40px;
}
input, select{
    font-size: 18px;
    height: 30px;
    padding: 0 8px;
    border-radius: 4px;
    border: 1px solid #D9A62E;
    background-color: #111;
    color: white;
}
input{
    width: 120px;
}
select{
    width: 250px;

}
.idade button{
    width: 140px;
    height: 38px;
    display:block;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    background-color: #D9A62E;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin: 25px auto 10px;
}

.resultado{

    height: 100px;
    width: 800px;
    display: flex;
    justify-content: center;
    padding: 25px;
    font-size: 40px;
    justify-self: center;
}