@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700;800&family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    background-color: black;
}
header img{
    height: 150px;
    width: 200px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px; 
}
nav{
    display: flex;
    gap:50px;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color:#6030E0;
    transition:0.5s;
}
nav a:hover{
    color: #0097a7;
}

.banner{
    background-image: url(IMAGENS/banner2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
}
.t1, .t2, .t4{
    font-family: "Orbitron", sans-serif;
    color: white;
    margin-left: 80px;
}
.t1{
    font-size: 60px;
    margin-top: 60px;
    margin-bottom: -60px;
}
.t2{
    font-size: 90px;    
    margin-bottom: -10px;
    font-family: "Orbitron", sans-serif;
}
.t3{
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin-left: 80px;
}
.t4{
    border-radius: 5px;
    font-size: 27px;
    margin-left: 80px;
    padding: 10px;
    transition: 0.3s;
    cursor:pointer;
    font-weight: bolder;
    background: linear-gradient(90deg, #00B0F0, #0080F0, #7020E0, #E020E0);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}
.t4:hover{
    box-shadow: 3px 3px 10px #FCF6E7;
    transform: translateY(2px);
}
.t4:active{
    transform:scale(0.95);
}

.card, .card2{
    display: flex;
    justify-content: space-between;
    gap:20px;
    align-items: center;
    flex-wrap: wrap;
    width: 1680px;
    justify-self: center;
}
.card h2{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    color:white;
    font-weight: bolder;
    font-size: 40px;
    font-family: "Orbitron", sans-serif;
}
.card1{
    height: 430px;
    width: 450px;
    border-radius: 5px;
    justify-items: center;
    color:white;
    transition:0.5s;
    padding:20px;
    box-shadow: 0 5px 15px #7020E0;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    
}
.card1:hover{
    box-shadow: 3px 3px 10px white;
    transform: translateY(-10px);
}
.t4:active{
    transform:scale(0.95);
}
.card1 img{
    height: 170px;
    width: 200px;
}
.produto{
    font-size: 27px;
    border-radius: 5px;
    transition: 0.3s;
    cursor:pointer;
    background: linear-gradient(90deg, #00B0F0, #0080F0, #7020E0, #E020E0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: "Montserrat", sans-serif;
}
.preco{
    font-size: 24px;
    color:#E020E0;
}
.saudacao{
    color:white;
    text-align: center;
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;

}
.saudacao1{
    padding: 30px;
    box-shadow: 0 5px 15px #7020E0;
    font-family: "Orbitron", sans-serif;

}
.mudar1{
    background-color: #7020E0;
    color:white;
    font-size: 22px;
    cursor: pointer;
}
footer{
    color: #6030E0;
    display: flex;
    justify-content: center;
    padding:22px;
    border-radius: 5px;
    font-family:"Montserrat";
    font-size: 18px;
    letter-spacing: 2px;
}
hr{
    background-color: #6030E0;
    border: 0;
    height: 3px;
}
.nossosprodutos{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    
    background: linear-gradient(90deg, #00B0F0, #7020E0, #E020E0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-weight: bolder;
    font-size: 40px;
    margin-top: 10px;
    font-family: "Orbitron", sans-serif;
}
.card21{
    height: 420px;
    width: 300px;
    border-radius: 5px;
    justify-items: center;
    color:white;
    transition:0.5s;
    padding:20px;
    box-shadow: 0 5px 15px #7020E0;
    text-align: center;
    font-family: "Montserrat";
    
}
.card21:hover{
    box-shadow: 3px 3px 10px white;
    transform: translateY(-10px);
}

.card21 img{
    height: 170px;
    width: 200px;
}
.escolhaproduto{
    color:white;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    
}
.compra{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 5px;
    align-items: center;
    flex-wrap: wrap;
    color:white;
    box-shadow: 0px 0px 5px 5px #7020E0; 
    font-family: "Montserrat";
    height: 350px;
    width: 1680px;
    justify-self: center;
    margin-top: 55px;
    padding:20px;
}
.compra:hover{
    box-shadow: 3px 3px 10px white;
    transform: translateY(-10px);
}
.selecao{
    background-color: black;
    color:white;
    border-radius: 5px;
    border-color: #7020E0;
    font-size: 18px;
    margin-top: 7px;
    margin-bottom: 15px;
    padding: 7px;
}
.compra1{
    margin-right: -220px;
}
.calcular{
    cursor: pointer;
    font-size: 25px;
    background:  #7020E0;
    color: white;
    border-radius: 5px;
    padding:10px 40px;
    margin-left: -150px;

}
.calcular:hover{
    box-shadow: 3px 3px 10px #FCF6E7;
    transform: translateY(2px);
}
.calcular:active{
    transform:scale(0.95);
}
.resultado1{
    width: 100%;
}
.result{
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    margin-bottom: 3px;
}
.descont{
    font-family: "Montserrat";
    font-size: 15px;
    margin-top: 2px;
}
.ajuda{
    color: white;
    justify-self: center;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    margin-top: -15px;
    margin-bottom: 50px;
}
fieldset{
    border-radius: 10px;
    justify-self: center;
    border: 2px solid #7020E0;
    border-radius: 10px;
    box-shadow: 0 0 10px #7020E0;
    margin-bottom: 110px;
    padding: 30px;

}
fieldset label {
    display: inline-block;
    width: 300px;
    font-family: "Poppins";
    color: white;
    font-size: 25px;
    margin:10px;
    text-align: right;
}

fieldset textarea {
    vertical-align: top;
}
.nome{
    background-color: black;
    color:white;
    border-radius: 5px;
    border-color: #6030E0;
    font-size: 18px;
    margin-top: 7px;
    margin-bottom: 15px;
    padding: 7px;
    width: 500px;
    
}
.enviar{
    cursor: pointer;
    font-size: 20px;
    background: linear-gradient(90deg,#00B0F0, #0080F0, #7020E0, #E020E0);
    color: white;
    border-radius: 5px;
    padding:10px 40px;
    transition: 0.3s;
    display: block;
    margin: 20px auto 0;
    font-family: "Orbitron", sans-serif;    
}
.enviar:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px #7020E0;
}
fieldset p{
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 25px;
}
.alterar{
    cursor: pointer;
    font-size: 15px;
    background: linear-gradient(90deg,#00B0F0, #0080F0, #7020E0, #E020E0);
    color: white;
    border-radius: 5px;
    padding:10px 40px;
    transition: 0.3s;
    display: block;
    margin: 20px auto 0;
    font-family: "Orbitron", sans-serif;    
}
.alterar:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px #7020E0;
}